name: Build

on: [ push, pull_request ]

jobs:

  build:
    name: Build
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        # https://docs.github.com/en/actions/using-github-hosted-runners/using-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
        os: [ 'macos-13', 'macos-14', 'macos-15', 'macos-latest', 'windows-2019', 'windows-2022', 'windows-2025', 'windows-latest', 'windows-11-arm' ]
    steps:

    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Setup go
      uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5.3.0
      with:
        cache: false
        go-version-file: 'go.mod'
        check-latest: true

    - shell: bash
      run: grep "^VERSION=" < Makefile | sed -e "s/VERSION/xmlpaste_version/g" >> "$GITHUB_ENV"

    - if: runner.os == 'macOS'
      run: make dist && cp -p "dist/xmlpaste-${{ env.xmlpaste_version }}-macos/xmlpaste" .

    - if: runner.os == 'Windows'
      run: go build -ldflags "-X main.version=${{ env.xmlpaste_version }}" xmlpaste.go xmlpaste_windows.go

    - shell: bash
      run: echo "goss_commit_hash=5704120d25902119cb1139e04bca3db7742a9f73" >> "$GITHUB_ENV" # v0.4.9

    - shell: bash
      run: echo "GOSS_USE_ALPHA=1" >> "$GITHUB_ENV"

    - if: runner.os == 'macOS'
      run: |
           curl -L "https://github.com/goss-org/goss/archive/${{ env.goss_commit_hash }}.tar.gz" -o goss.tar.gz
           tar xzvf goss.tar.gz
           cd "goss-${{ env.goss_commit_hash }}"
           make build
           cd ..

    - if: runner.os == 'Windows'
      shell: bash
      run: |
           curl -L "https://github.com/goss-org/goss/archive/${{ env.goss_commit_hash }}.tar.gz" -o goss.tar.gz
           tar xzvf goss.tar.gz
           cd "goss-${{ env.goss_commit_hash }}"
           go build -o goss-windows-amd64.exe github.com/goss-org/goss/cmd/goss
           mkdir release
           mv goss-windows-amd64.exe release/
           cd ..

    - if: runner.os == 'macOS'
      run: |
           OS=darwin "./goss-${{ env.goss_commit_hash }}/release/goss-darwin-amd64" --gossfile tests/goss.yaml validate --format documentation

    - if: runner.os == 'Windows'
      shell: bash
      run: |
           OS=windows "./goss-${{ env.goss_commit_hash }}/release/goss-windows-amd64.exe" --gossfile tests/goss.yaml validate --format documentation

    - run: ./xmlpaste -v

# based on: github.com/koron-go/_skeleton/.github/workflows/go.yml
